<template id="lesson-template">

    <div class="lesson__name">
        <span>{{ name }}</span>
    </div>

    <div class="lesson__schools">
        {{ #schools }}
            <span>{{ name }}</span>
        {{ /schools }}
    </div>

    <div class="lesson__teachers">
        {{ #teachers }}
        <div class="lesson__teacher-block">
            <span class="lesson__teacher-name" id="{{ id }}">{{ name }}</span>
        </div>
        {{ /teachers }}
    </div>

    {{ #materials }}
    <div class="lesson__materials">
        <a href="https://events.yandex.ru/lib/talks/4266/" target="_blank" class="lesson__link">Смотреть</a>
    </div>
    {{ /materials }}

    {{ #time }}
    <div class="lesson__time-and-hall">
        <span class="lesson__time">{{ datetime }}</span>
        <span class="lesson__hall">{{ hall }}</span>
    </div>
    {{ /time }}
</template>