<template id="popup-template">
        <div class="teacher-popup__content">

            <i class="teacher-popup__tail"></i>
            <i class="teacher-popup__close"></i>

            <div class="teacher-popup__img">
                <img src="img/teachers/{{ imgFileName }}.jpg" alt="">
            </div>

            <div class="teacher-popup__desc">
                <span class="teacher-popup__name">{{ name }}</span>
                <p>{{ desc }}</p>
            </div>
        </div>
</template>